font-face {
    font-family: "Caveat";
    font-style: normal;
    font-weight: 400;
    font-display: swap; 
    src: local("Caveat"), 
    url("/Fonts/Caveat/Caveat-VariableFont_wght.woff") format("woff");
           
    }
    * {
        font-family: "Ceveat" , sans-serif;
      }